
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
    margin: 50px;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

figure {
    margin: 0;
    padding: 0;
    height: 100%;
}

.img-desserts {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.button-container {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container>button {
    width: 200px;
    padding: 10px 0;
    border: solid 1px orange;
    background-color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (width < 768px) {
    body{
        background-color: bisque;
    }
    .container{
        justify-content: center;
        gap: 50px 20px;
    }
}