*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
}
h1{
    text-align: center;
}

@media (width < 1000px){
    body{
        background-color: red;
    }
    h1{
        margin: 20px;
    }
}

@media (width < 500px){
    body{
        background-color: blue;
    }
    h1{
        margin-top: 40px;
        color: white;
        font-size: 50px;
    }
}